@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato";
}

.package {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top_head {
  background: #222222;
  display: flex;
  justify-content: space-between;
}
.top_head__rigth {
  gap: 41px;
  display: flex;
  align-items: center;
}
.top_head__left {
  display: flex;
  position: relative;
  gap: 33px;
  align-items: center;
}
.top_head__logo_out::after {
  content: "5";
  text-decoration: none;
  height: 19px;
  width: 19px;
  background-color: #F16D7F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 25px 25px 25px 25px;
  top: 1px;
  right: -3px;
}

.sub_header {
  background-color: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.sub_header__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link_site {
  font-weight: 800;
  color: #F16D7F;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #F7F7F7;
}
.carousel__arrow {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
}
.carousel__arrow__left {
  left: 0;
}
.carousel__arrow__rigth {
  right: 0;
}

.product_info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin: -50px auto 0;
  z-index: 1;
  background: #FFFFFF;
  height: 601px;
  width: 1141px;
  border: 1px solid #EAEAEA;
}
.product_info_nameCollection {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  border-bottom: 3px solid #F16D7F;
  padding-top: 48px;
  padding-bottom: 12px;
}
.product_info_nameСlothes {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  padding-top: 12px;
  padding-bottom: 48px;
}
.product_info_descriptionProduct {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  padding-bottom: 32px;
}
.product_info_priceProduct {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  padding-bottom: 130px;
}
.product_info_sort {
  display: flex;
  gap: 18px;
}
.product_info_sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product_info_sort_butt {
  text-decoration: none;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  gap: 23px;
  height: 47px;
  width: 211px;
  left: 695.5px;
  top: 2817.5px;
  border-radius: 0px;
  margin: 0 auto;
  display: flex;
  margin-top: 43px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  gap: 30px;
  padding-bottom: 128px;
}
.items_item_text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.items_item_parag {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.items_item_price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.other_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 448px;
  background-image: url(img/feedback.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.other_info_subscribe {
  display: flex;
  flex-direction: column;
}
.other_info_subscribe_sub_h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.other_info_subscribe_sub_h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.other_info_subscribe_buttonsSubs {
  display: flex;
  justify-content: center;
}
.other_info_subscribe_buttonsSubs_mail {
  background-color: #E1E1E1;
  text-decoration: none;
  border-radius: 25px 0 0 25px;
  border: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  max-width: 256px;
  padding: 8px 64px 8px 22px;
}
.other_info_subscribe_buttonsSubs_subscribbut {
  background-color: #F16D7F;
  text-decoration: none;
  border-radius: 0 25px 25px 0;
  border: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  max-width: 256px;
  padding: 8px 13px 8px 13px;
}

.feedback_text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.img_back {
  position: relative;
  overflow: hidden;
  width: 1146px;
  height: 337px;
}

.footer {
  background-color: #222224;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer_left_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.networks {
  display: flex;
  gap: 20px;
}
.networks_icon {
  background-color: white;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */